---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/consts';
import { getCollection } from 'astro:content';
const workflows = await getCollection('workflow');
---


<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div>
        {workflows.map((workflow) => (
          <a href={`/tools/workflows/${workflow.id}/`} class="tag">
            <span>{workflow.data.title}</span>
          </a>
        ))}
      </div>
    </main>
    <Footer />
  </body>
</html>
