/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --gray: 96 115 159;
  --gray-gradient: rgb(var(--md-sys-color-error) / 50%), #fff;
  --box-shadow: 0 2px 6px rgb(var(--gray) / 25%), 0 8px 24px rgb(var(--gray) / 33%),
      0 16px 32px rgb(var(--gray) / 33%);
  scroll-behavior: smooth;
  scrollbar-color: var(--md-sys-color-on-primary) var(--md-sys-color-primary);
  background: var(--md-sys-color-surface);
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Source Han Sans";
  src: url("/fonts/SourceHanSans/SourceHanSans-VF.otf.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: block;
}


body {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;

  /*font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;*/
  /* font-family: "Lato", "Noto Sans Mono CJK JP", monospace, sans-serif; */
  font-family: "Lato", "Source Han Sans JP", monospace, sans-serif;
  /*line-height: 1.9;*/
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: var(--md-sys-color-on-surface);
  text-align: left;
}

main {
  max-width: min(55ch, calc(100% - 2em));
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2rem 0 0.5rem;
	line-height: 1.2;
}
h1 {
	font-size: var(--s5);
}
h2 {
	font-size: var(--s4);
}
h3 {
	font-size: var(--s3);
}
h4 {
	font-size: var(--s2);
}
h5 {
	font-size: var(--s1);
}
strong,
b {
	font-weight: 700;
}
a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--md-sys-color-inverse-primary);
}
p {
	margin-bottom: 1em;
}

table {
  display: block;
  overflow: auto;
  /*max-width: max-content;*/
  margin-bottom: 2em;
  padding: 1em;
  box-shadow: var(--box-shadow);
  border-spacing: 1em;
}

th {
  min-width: max-content;
  word-break: keep-all;
  border-bottom: 2px solid var(--md-sys-color-primary);
}

td {
  word-break: keep-all;
  min-width: max-content;
  border-bottom: 1px solid var(--md-sys-color-outline);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 0 0.5em;
  margin: 0 0.3em;
  border-radius: 4px;
  vertical-align: bottom;
  background: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  font-family: "Fira Code", monospace;
  font-style: normal;
}
.astro-code {
  font-family: "Fira Code", monospace;
  font-style: normal;
}

pre {
  padding: 1em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--md-sys-color-on-primary);
  padding-left: 1em;
}

.katex-display{
  overflow: auto;
}
.katex-html {
  margin: 0.5em 0;
}

.note{
  padding: 0.5em 1em;
  border-left: 4px solid #1f6feb;
}
.note:before{
  content: "Note";
  font-weight: bold;
  color: #1f6feb;
}

.tip{
  padding: 0.5em 1em;
  border-left: 4px solid #238636;
}
.tip:before{
  content: "Tip";
  font-weight: bold;
  color: #238636;
}

.important{
  padding: 0.5em 1em;
  border-left: 4px solid #8957e5;
}
.important:before{
  content: "Important";
  font-weight: bold;
  color: #8957e5;
}

.warning{
  padding: 0.5em 1em;
  border-left: 4px solid #9e6a03;
}
.warning:before{
  content: "Warning";
  font-weight: bold;
  color: #9e6a03;
}

.caution{
  padding: 0.5em 1em;
  border-left: 4px solid #da3633;
}
.caution:before{
  content: "Caution";
  font-weight: bold;
  color: #da3633;
}

.def{
  padding: 0.5em 1em;
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  border-radius: 13px
}
.def p:first-child{
  font-size: var(--s1);
  border: 4px solid var(--md-sys-color-secondary);
  border-radius: 5px;
  padding-left: 0.5em;
  color: var(--md-sys-color-on-secondary-container);
  display: flex;
  gap: 0.5em;
}
.def p:first-child::before{
  font-style: italic;
  content: "def:";
}

.lemma{
  border-radius: 13px;
  padding: 0.5em 1em;
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}
.lemma p:first-child{
  font-size: var(--s1);
  color: var(--md-sys-color-tertiary);
}
.lemma p:first-child:before{
  content: "lemma: ";
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
