---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const tags = [...new Set((await getCollection('blog')).map((post) => post.data.tags).flat())];
---


<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .tags {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0.5em;
        gap: 0.5em;
        border-radius: 8px;
        border: 1px solid var(--md-sys-color-outline-variant);
        background: var(--md-sys-color-primary-container);
      }
      .tag {
        color: var(--md-sys-color-on-primay-container);
        border-radius: 8px;
        padding: 0.5em;
      }
      .tag:hover {
        background: var(--md-sys-color-inverse-primary);
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="tags">
        {tags.map((tag) => (
            <a href={`/tags/${tag}/`} class="tag">
              <span>{tag}</span>
            </a>
          ))}
      </div>
    </main>
    <Footer />
  </body>
</html>
