---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
      I'm sakakibara yuuki. I have experience developing high-level software using machine learning. I provide solid solutions to companies through research and experimental designs.
	</p>

    <h2>Experience</h2>
	<p>
      Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
	</p>

    <h2>Education</h2>
	<p>
      Saitama University Graduate School of Science and Engineering
      Mathematics, Electronics and Informatics Division
      Department of Information and Computer Sciences
      April 2016 - March 2022
	</p>

    <h2>Interests</h2>
    <p>
      I am knowledgeable about the field of machine learning, called reinforcement learning, and have previously worked on that technology. I am broadly interested in machine learning and its business applications, and have researched what technologies are used in Youtube, Netflix, Amazon, etc. I have a strong interest in machine learning and finance, and spend a lot of time reading papers on Fintech and implementing them.
    </p>
    <p>
I have a strong interest in machine learning and finance and spend a lot of time reading and implementing papers on Fintech. I also like mathematics and read a lot, especially books on geometry.
	</p>

    <h2>Certifications</h2>
    <ul>
      <li>Fundamental Information Technology Engineer Examination</li>
      <li>JDLA Deep Learning for ENGINEER</li>
    </ul>

</Layout>
