---
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
import SearchBar from './SearchBar.astro';
import { SITE_TITLE } from '../consts';
---

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgb(var(--black) / 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
    #nav-input,
    .menu-btn {
      display: none;
    }
	nav {
      display: grid;
      grid-template-columns: 1fr 1fr auto auto;
      align-items: center;
      justify-content: center;
	}
    nav > * {
      display: flex;
      align-items: center;
    }

    nav > :nth-child(1) {
      justify-content: flex-start;
    }

    nav > :nth-last-child(2) {
      justify-content: flex-end;
    }
    nav > :nth-last-child(1) {
      justify-content: flex-end;
    }

    .internal-links {
      justify-content: center;
    }

	nav a {
		padding: 1em 0.5em;
		color: rgb(var(--black));
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: rgb(var(--accent));
	}
    @media (max-width: 720px) {
      .menu-btn {
        display: block;
        width: 30px;
        height: 20px;
        position: absolute;
        right: 1em;
        top: 1em;
        z-index: 3;
      }
      .menu-btn span,
      .menu-btn span::before,
      .menu-btn span::after {
        content: "";
        height: 2px;
        width: 100%;
        border-radius: 3px;
        background: #36556a;
        position: absolute;
        transition: 0.2s;
        cursor: pointer;
      }
      .menu-btn span {
        top: 0;
      }
      .menu-btn span::before {
        top: 8px;
      }
      .menu-btn span::after {
        top: 16px;
      }
      #nav-input:checked ~ .menu-btn span {
        top: 8px;
        transform: rotate(45deg);
      }
      #nav-input:checked ~ .menu-btn span::before {
        opacity: 0;
      }
      #nav-input:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-90deg);
      }
      .internal-links {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 56px;
        right: -100%;
        z-index: 2;
        text-align: center;
        transition: 0.5s;

        max-width: min-content;
        height: 100vh;

        background: rgb(255, 255, 255, 0.95);
        border-radius: 4px;
        box-shadow: -0.25em 0.25em 3px rgb(var(--black) / 10%);
      }
      .internal-links > * {
        padding: 1em 2em 0 2em;
      }
      .internal-links a.active {
        border-bottom-color: rgb(var(--accent) / 45%);
      }
      .internal-links > *:hover {
		border-bottom-color: rgb(var(--accent));
      }
      #nav-input:checked ~ nav .internal-links {
        right: 0;
      }
    }
</style>
<header>
  <input id="nav-input" type="checkbox"/>
  <label class="menu-btn" for="nav-input"><span></span></label>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/tags">Tags</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <SearchBar class="search-bar"/>
    <ThemeIcon />
  </nav>
</header>
