---
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
import SearchBar from './SearchBar.astro';
import { SITE_TITLE } from '../consts';

import { Icon } from 'astro-icon/components';
---

<!--<style>-->
<!--	header {-->
<!--      margin: 0;-->
<!--      padding: 0 1em;-->
<!--      box-shadow: 0 2px 8px rgb(var(--black) / 5%);-->
<!--      position: sticky;-->
<!--    }-->
<!--    h2 {-->
<!--      margin: 0;-->
<!--      font-size: 1em;-->
<!--    }-->
<!--    h2 a,-->
<!--    h2 a.active {-->
<!--        text-decoration: none;-->
<!--    }-->
<!--    #nav-input,-->
<!--    .menu-btn {-->
<!--      display: none;-->
<!--    }-->
<!---->
<!--	nav {-->
<!--      display: grid;-->
<!--      grid-template-columns: 1fr 1fr 1fr;-->
<!--      gap: 1.5em;-->
<!--      align-items: center;-->
<!--      justify-content: center;-->
<!--	}-->
<!---->
<!--    nav > * {-->
<!--      display: flex;-->
<!--      align-items: center;-->
<!--    }-->
<!---->
<!--    nav > :nth-child(1) {-->
<!--      justify-content: flex-start;-->
<!--    }-->
<!---->
<!--    nav > :nth-last-child(1) {-->
<!--      justify-content: flex-end;-->
<!--    }-->
<!---->
<!--    .internal-links {-->
<!--      justify-content: center;-->
<!--    }-->
<!---->
<!--	nav a {-->
<!--      display: inline-block;-->
<!--      padding: 1em 0.5em;-->
<!--      color: rgb(var(--black));-->
<!--      border-bottom: 4px solid transparent;-->
<!--      text-decoration: none;-->
<!--	}-->
<!--	nav a.active {-->
<!--		text-decoration: none;-->
<!--		border-bottom-color: rgb(var(--accent));-->
<!--	}-->
<!---->
<!--    .header-side {-->
<!--      display: grid;-->
<!--      grid-template-columns: 1fr 1fr;-->
<!--      gap: 0.5em;-->
<!--    }-->
<!---->
<!--    @media (max-width: 720px) {-->
<!--      .menu-btn {-->
<!--        display: block;-->
<!--        width: 30px;-->
<!--        height: 20px;-->
<!--        position: absolute;-->
<!--        right: 1em;-->
<!--        top: 1em;-->
<!--        z-index: 3;-->
<!--      }-->
<!--      .menu-btn span,-->
<!--      .menu-btn span::before,-->
<!--      .menu-btn span::after {-->
<!--        content: "";-->
<!--        height: 2px;-->
<!--        width: 100%;-->
<!--        border-radius: 3px;-->
<!--        background: rgb(var(--gray));-->
<!--        position: absolute;-->
<!--        transition: 0.2s;-->
<!--        cursor: pointer;-->
<!--      }-->
<!--      .menu-btn span {-->
<!--        top: 0;-->
<!--      }-->
<!--      .menu-btn span::before {-->
<!--        top: 8px;-->
<!--      }-->
<!--      .menu-btn span::after {-->
<!--        top: 16px;-->
<!--      }-->
<!--      #nav-input:checked ~ .menu-btn span {-->
<!--        top: 8px;-->
<!--        transform: rotate(45deg);-->
<!--      }-->
<!--      #nav-input:checked ~ .menu-btn span::before {-->
<!--        opacity: 0;-->
<!--      }-->
<!--      #nav-input:checked ~ .menu-btn span::after {-->
<!--        top: 0;-->
<!--        transform: rotate(-90deg);-->
<!--      }-->
<!--      .internal-links {-->
<!--        display: flex;-->
<!--        flex-direction: column;-->
<!---->
<!--        position: absolute;-->
<!--        top: 56px;-->
<!--        right: -100%;-->
<!--        text-align: center;-->
<!--        transition: 0.5s;-->
<!---->
<!--        max-width: min-content;-->
<!--        height: 100vh;-->
<!---->
<!--        background: rgb(255, 255, 255, 0.95);-->
<!--        border-radius: 4px;-->
<!--        box-shadow: -0.25em 0.25em 3px rgb(var(--black) / 10%);-->
<!--      }-->
<!--      .internal-links > * {-->
<!--        padding: 1em 2em 0 2em;-->
<!--      }-->
<!--      .internal-links a.active {-->
<!--        border-bottom-color: rgb(var(--accent) / 45%);-->
<!--      }-->
<!--      .internal-links > *:hover {-->
<!--		border-bottom-color: rgb(var(--accent));-->
<!--      }-->
<!--      #nav-input:checked ~ nav .internal-links {-->
<!--        right: 0;-->
<!--      }-->
<!--      nav {-->
<!--        display: grid;-->
<!--        grid-template-columns: 5fr 5fr 1fr;-->
<!--      }-->
<!--      .blog-title {-->
<!--        grid-column: 1;-->
<!--      }-->
<!--      .header-side {-->
<!--        grid-column: 2;-->
<!--      }-->
<!--      .theme-icon {-->
<!--        display: none;-->
<!--      }-->
<!--    }-->
<!--</style>-->
<style>

  header {
    padding: 0 1em;
    box-shadow: 0 0.2em 0.2em rgb(var(--black) / 5%);
    /*height: 2em;*/

    position: sticky;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }
  @media (max-width: 720px) {
    header {
      padding: 1em;
    }
  }

  .blog-title  h2 {
    margin: 0;
    padding: 0;
  }

  .blog-title a {
    text-decoration: none;
  }

  .blog-title__block {
    display: grid;
    grid-template-columns: repeat(4, 0.2em);
    grid-template-rows: repeat(4, 0.2em);
  }

  .blog-title__block div {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.2em;
  }

  #hamburger-button {
    display: none;
  }

  #hamburger-button > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  nav ul {
    display: block flex;
    list-style: none;
    padding: 0;
    gap: 1rem;
  }

  @media (max-width: 720px) {

    #hamburger-button {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
    }

    .icon-menue {
      display: block;
    }
    .icon-close {
      display: none;
    }

    nav {
      position: absolute;
      top: 4em;
      right: -100%;
      height: 100vh;
      width: 40%;

      padding-top: 4em;

      background: rgb(var(--white));
      box-shadow: -0.2em 0.2em 0.2em rgb(var(--black) / 10%);

      transition: 0.5s;
    }

    nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .theme-toggle {
      display: none;
    }

    .theme-icon {
      line-height: 0;
      display: none;
    }

  }
</style>

<header>
  <div class="blog-title">
    <h2>
      <a href="/">
        <div class="blog-title__block">
          <div>S</div>
          <div>A</div>
          <div>K</div>
          <div>A</div>
          <div>K</div>
          <div>I</div>
          <div>B</div>
          <div>A</div>
          <div>R</div>
          <div>A</div>
          <div>S</div>
          <div>'</div>
          <div>B</div>
          <div>L</div>
          <div>O</div>
          <div>G</div>
        </div>
      </a>
    </h2>
  </div>

  <SearchBar/>

  <!--hamberger menu-->
  <button id="hamburger-button">
    <Icon class="icon-close" name="line-md:close" />
    <Icon class="icon-menue" name="line-md:close-to-menu-alt-transition" />
  </button>

  <nav>
    <ul class="internal-links">
      <li><HeaderLink href="/">Home</HeaderLink></li>
      <li><HeaderLink href="/blog">Blog</HeaderLink></li>
      <li><HeaderLink href="/tags">Tags</HeaderLink></li>
      <li><HeaderLink href="/about">About</HeaderLink></li>
    </ul>
  </nav>

  <div class="theme-icon">
    <ThemeIcon />
  </div>

</header>

<script is:inline>
  const handleSideBar = () => {

    const hambergerButton = document.querySelector('#hamburger-button');
    hambergerButton.classList.toggle('open');

    const isOpend = hambergerButton.classList.contains('open');
    const iconMenue = document.querySelector('.icon-menue');
    const iconClose = document.querySelector('.icon-close');

    if (isOpend) {
      document.querySelector('nav').style.right = '0';
      iconMenue.style.display = 'none';
      iconClose.style.display = 'revert';
    } else {
      document.querySelector('nav').style.right = '-100%';
      iconMenue.style.display = 'revert';
      iconClose.style.display = 'none';
    }
  }

  const iconbutton = document.getElementById("hamburger-button");
  iconbutton.addEventListener('click', handleSideBar);
</script>
