---
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
import SearchBar from './SearchBar.astro';

import { Icon } from 'astro-icon/components';
---

<style>
  header {
    --header-height: 4em;
    height: var(--header-height);
    padding: 0 1em;
    box-shadow: var(--box-shadow);

    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    background: var(--md-sys-color-surface-container-low);
  }

  .blog-title a {
    text-decoration: none;
  }

  .blog-title__block {
    display: grid;
    grid-template-columns: repeat(4, var(--s-4));
    grid-template-rows: repeat(4, var(--s-4));
    border: 2px solid var(--md-sys-color-outline);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.125em;
  }

  .blog-title__block div {
    font-size: var(--s-4);
    font-weight: 800;
  }

  #hamburger-button {
    display: none;
    cursor: pointer;
  }

  #hamburger-button > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  nav {
    height: 100%;
  }

  .tool {
    display: none;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;

    li {
      padding: 0 0.5em 0 0.5em;
    }

    a {
      text-decoration: none;
      color: var(--md-sys-color-primary);
      line-height: var(--header-height);
    }

    li:hover {
      background: var(--md-sys-color-primary-container);
      border-bottom: 5px solid var(--md-sys-color-primary);
    }
  }

  @media (max-width: 720px) {

    #hamburger-button {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      color: var(--md-sys-color-on-surface);
      font-size: var(--s2);
    }

    .icon-menue {
      display: block;
    }
    .icon-close {
      display: none;
    }

    nav {
      position: fixed;
      top: var(--header-height);
      right: -100%;
      height: 100vh;
      width: 80%;

      padding-top: var(--header-height);
      overflow-y: hidden;

      background: var(--md-sys-color-surface-container-low);
      box-shadow: var(--box-shadow);

      transition: 0.5s;
    }

    .tools {
      display: none;
    }
    .tool {
      display: block;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
    ul li {
      text-align: center;
      box-sizing: border-box;
      width: 100%;
      border-bottom: 1px solid var(--md-sys-color-primary-container);
    }
    ul li:hover {
      border-bottom: 5px solid var(--md-sys-color-primary);
    }
  }
</style>

<header>
  <div class="blog-title">
    <a href="/">
      <div class="blog-title__block">
        <div>S</div>
        <div>A</div>
        <div>K</div>
        <div>A</div>
        <div>K</div>
        <div>I</div>
        <div>B</div>
        <div>A</div>
        <div>R</div>
        <div>A</div>
        <div>S</div>
        <div> </div>
        <div>B</div>
        <div>L</div>
        <div>O</div>
        <div>G</div>
      </div>
    </a>
  </div>

  <SearchBar/>
<!--hamberger menu-->
  <button id="hamburger-button">
    <Icon class="icon-close" name="line-md:menu-to-close-transition" />
    <Icon class="icon-menue" name="line-md:close-to-menu-transition" />
  </button>

  <nav>
    <ul class="internal-links">
      <li><HeaderLink href="/">Home</HeaderLink></li>
      <li><HeaderLink href="/blog">Blog</HeaderLink></li>
      <li class="tools"><HeaderLink href="/tools">Tools</HeaderLink></li>
      <li class="tool"><HeaderLink href="/tools/tags">Tags</HeaderLink></li>
      <li class="tool"><HeaderLink href="/tools/workflow">Work flow</HeaderLink></li>
      <li class="tool"><HeaderLink href="/tools/guideline">Guide Line</HeaderLink></li>
      <li><HeaderLink href="/about">About</HeaderLink></li>
    </ul>
  </nav>

  <ThemeIcon/>

</header>

<script is:inline>
  // Side bar toggle
  function toggleSideBar() {

    const hambergerButton = document.querySelector('#hamburger-button');
    hambergerButton.classList.toggle('open');

    const isOpend = hambergerButton.classList.contains('open');
    const iconMenue = document.querySelector('.icon-menue');
    const iconClose = document.querySelector('.icon-close');

    if (isOpend) {
      document.querySelector('nav').style.right = '0';
      iconMenue.style.display = 'none';
      iconClose.style.display = 'revert';
    } else {
      document.querySelector('nav').style.right = '-100%';
      iconMenue.style.display = 'revert';
      iconClose.style.display = 'none';
    }
  }

  const iconButton = document.getElementById("hamburger-button");
  iconButton.addEventListener('click', toggleSideBar);

  // Side bar close when click outside
  function handleSideBarOutSide(event) {
    const isOpend = document.querySelector('#hamburger-button').classList.contains('open');
    if (!isOpend) return;
    if(event.target.closest('nav') === null && event.target.closest('#hamburger-button') === null) {
      toggleSideBar();
    }
  }

  const body = document.querySelector('body');
  body.addEventListener('click', handleSideBarOutSide);
</script>
