---
import Fuse from 'fuse.js';
import { Icon } from 'astro-icon/components';
import { type CollectionEntry, getCollection } from 'astro:content';
type Props = CollectionEntry<'blog'>;
const posts: Array<Props> = await getCollection('blog');

console.log(posts[0]);
console.log(posts[0].slug);
console.log(posts[0].body);
console.log(posts[0].data.title);
---
<style>
  form {
    display: grid;
    grid-template-columns: auto 1fr;
    /*gap: 8px;*/
    justify-content: center;
    align-items: center;
  }
  button {
    grid-column: 1;
    grid-row: 1;
    padding-top: 6px;
    background: none;
    border: none;
  }
  input {
    grid-column: 1 / -1;
    grid-row: 1;
    padding-left: 28px;
  }
</style>
<form>
  <input type="search" id="search" placeholder="Search ..." />
  <button><Icon name="ph:magnifying-glass"></button>
</form>
