---
import { Icon } from 'astro-icon/components';
---
<style>
  form {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--md-sys-color-primary-container);
    border-radius: 5px;
  }
  form:hover {
    border: 1px solid var(--md-sys-color-on-primary-container);
    outline: none;
  }
  .search-icon {
    color: var(--md-sys-color-primary);
    grid-column: 1;
    grid-row: 1;
    background: none;
    margin-left: 0.25em;
  }
  input {
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 0.25em 0.25em 0.25em 1.6em;
    border: none;
    background: var(--md-sys-color-secondary-container);
    border-radius: 5px;
    font-size: 1em;
    color: var(--md-sys-color-on-secondary-container);
  }
</style>
<search>
  <form>
    <input id="search" placeholder="search ..." />
    <Icon class="search-icon" name="mdi:search" />
    <!--<Icon class="search-icon" name="ph:magnifying-glass">-->
  </form>
</search>

<script>
  import { type CollectionEntry, getCollection } from 'astro:content';
  type Props = CollectionEntry<'blog'>;
  const posts: Array<Props> = await getCollection('blog');
  import Fuse from 'fuse.js';

  const fuseOptions = {
    includeScore: true,
    minMatchCharLength: 2,
    keys: ['body', 'data.title'],
    threshold: 0.9,
    ignoreLocation: true,
    useExtendedSearch: true,
  };

  const fuse = new Fuse(posts, fuseOptions);
  const searchBar = document.getElementById('search');

  searchBar.addEventListener('keydown', (event) => {
    if (event.key === 'Enter') {
      event.preventDefault();
      const searchPattern = event.target.value;
      const result = fuse.search(searchPattern);
      console.log(result);
    }
  });
</script>
