---
import Fuse from 'fuse.js';
import { Icon } from 'astro-icon/components';
import { type CollectionEntry, getCollection } from 'astro:content';
type Props = CollectionEntry<'blog'>;
const posts: Array<Props> = await getCollection('blog');

const fuseOptions = {
  keys: ['body', 'data.title'],
};
// const fuse = new Fuse(posts, fuseOptions);
// const searchPattern = "年金";
// result = fuse.search(searchPattern);
---
<style>
  form {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
  }
  button {
    grid-column: 1;
    grid-row: 1;
    padding-top: 6px;
    background: none;
    border: none;
  }
  input {
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 6px 0 6px 32px;
    border: 1px solid rgb(var(--gray-light));
    border-radius: 5px;
  }
</style>
<search>
  <form>
    <input type="search" id="search" placeholder="  blog or title ..." />
    <button><Icon name="ph:magnifying-glass"></button>
  </form>
</search>
