---
import { Icon } from 'astro-icon/components';
---
<style>
  form {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--md-sys-color-primary-container);
    border-radius: 5px;
  }
  form:hover {
    border: 1px solid var(--md-sys-color-on-primary-container);
    outline: none;
  }
  .search-icon {
    color: var(--md-sys-color-primary);
    grid-column: 1;
    grid-row: 1;
    background: none;
    margin-left: 0.25em;
  }
  input {
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 0.25em 0.25em 0.25em 1.5em;
    border: none;
    background: var(--md-sys-color-secondary-container);
    border-radius: 5px;
    font-size: var(--s-1);
    color: var(--md-sys-color-on-secondary-container);
  }
</style>
<search>
  <form>
    <input id="search" placeholder="search ..." />
    <Icon class="search-icon" name="mdi:search" />
  </form>
</search>

<script>
  const searchBar = document.getElementById('search');
  searchBar.addEventListener('keydown', (event) => {
    if (event.key === 'Enter') {
      event.preventDefault();
      const searchPattern = event.target.value;
      window.location.href = '/' + `blog?q=${searchPattern}`;
    }
  });
</script>
