---
const { data } = Astro.props
import WorkflowCheckList from './WorkflowCheckList.svelte';

interface Work {
  title: string;
  description: string;
  workflow: Work[];
}
---
<div>
  {data.map((work: Work, index: number) => (
  <WorkflowCheckList work={work} index={index} depth={0}/>
  ))}
</div>
