---
type Work = {
  title: string;
  description: string;
  status: boolean;
};

interface Props {
  work: Work;
  index: number;
}

const { work, index } = Astro.props;
const size = "size-" + index;
console.log(work);
---

<style>
  .size-0 {
    font-size: var(--s4);
  }
  .size-1 {
    font-size: var(--s3);
  }
  .size-2 {
    font-size: var(--s2);
  }
  .size-3 {
    font-size: var(--s1);
  }
  .size-4 {
    font-size: var(--s0);
  }
</style>

<div class:list={[size]}>
  <input type="checkbox" id="fuga">
  <label for="fuga">{work.title}</label>
  <p>{work.description}</p>
  {work.workflow && 
  work.workflow.map((_work, _index) => (
    <details>
      <WorkflowCheckList work={_work} index={_index} />
    </details>
  ))}
  }
</div>
